USE [master]
GO
/****** Object:  Database [DotelDB]    Script Date: 5/15/2024 10:22:48 PM ******/
CREATE DATABASE [DotelDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DotelDB', FILENAME = N'A:\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DotelDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DotelDB_log', FILENAME = N'A:\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DotelDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DotelDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DotelDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/15/2024 10:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[adminId] [int] IDENTITY(1,1) NOT NULL,
	[phoneNumber] [nvarchar](30) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[password] [nvarchar](32) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[adminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rental]    Script Date: 5/15/2024 10:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rental](
	[rentalId] [int] IDENTITY(1,1) NOT NULL,
	[price] [money] NOT NULL,
	[roomArea] [decimal](18, 0) NOT NULL,
	[maxPeople] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[userId] [int] NOT NULL,
	[status] [bit] NOT NULL,
	[viewNumber] [int] NULL,
	[approval] [bit] NOT NULL,
 CONSTRAINT [PK_Rental] PRIMARY KEY CLUSTERED 
(
	[rentalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalListImage]    Script Date: 5/15/2024 10:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalListImage](
	[imageId] [int] IDENTITY(1,1) NOT NULL,
	[rentalId] [int] NOT NULL,
	[sourse] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_RentalListImage] PRIMARY KEY CLUSTERED 
(
	[imageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalVideo]    Script Date: 5/15/2024 10:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalVideo](
	[videoId] [int] IDENTITY(1,1) NOT NULL,
	[sourse] [nvarchar](1000) NOT NULL,
	[rentalId] [int] NOT NULL,
 CONSTRAINT [PK_RentalVideo] PRIMARY KEY CLUSTERED 
(
	[videoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SponsorRental]    Script Date: 5/15/2024 10:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SponsorRental](
	[sponsorRentalId] [int] IDENTITY(1,1) NOT NULL,
	[rentalId] [int] NOT NULL,
	[sponsorId] [int] NOT NULL,
 CONSTRAINT [PK_SponsorRental] PRIMARY KEY CLUSTERED 
(
	[sponsorRentalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsorship]    Script Date: 5/15/2024 10:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsorship](
	[sponsorId] [int] IDENTITY(1,1) NOT NULL,
	[sponsorName] [nvarchar](50) NOT NULL,
	[sponsorDes] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Sponsorship] PRIMARY KEY CLUSTERED 
(
	[sponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/15/2024 10:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[mainPhoneNumber] [nvarchar](20) NOT NULL,
	[email] [nvarchar](30) NOT NULL,
	[password] [nvarchar](200) NOT NULL,
	[fullname] [nvarchar](50) NOT NULL,
	[secondaryPhoneNumber] [nvarchar](20) NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_User_1] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Rental]  WITH CHECK ADD  CONSTRAINT [FK_Rental_UserId] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([userId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rental] CHECK CONSTRAINT [FK_Rental_UserId]
GO
ALTER TABLE [dbo].[RentalListImage]  WITH CHECK ADD  CONSTRAINT [FK_RentalListImage_Rental] FOREIGN KEY([rentalId])
REFERENCES [dbo].[Rental] ([rentalId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalListImage] CHECK CONSTRAINT [FK_RentalListImage_Rental]
GO
ALTER TABLE [dbo].[RentalVideo]  WITH CHECK ADD  CONSTRAINT [FK_RentalVideo_Rental] FOREIGN KEY([rentalId])
REFERENCES [dbo].[Rental] ([rentalId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentalVideo] CHECK CONSTRAINT [FK_RentalVideo_Rental]
GO
ALTER TABLE [dbo].[SponsorRental]  WITH CHECK ADD  CONSTRAINT [FK_SponsorRental_Rental] FOREIGN KEY([rentalId])
REFERENCES [dbo].[Rental] ([rentalId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SponsorRental] CHECK CONSTRAINT [FK_SponsorRental_Rental]
GO
ALTER TABLE [dbo].[SponsorRental]  WITH CHECK ADD  CONSTRAINT [FK_SponsorRental_Sponsor] FOREIGN KEY([sponsorId])
REFERENCES [dbo].[Sponsorship] ([sponsorId])
GO
ALTER TABLE [dbo].[SponsorRental] CHECK CONSTRAINT [FK_SponsorRental_Sponsor]
GO
USE [master]
GO
