@page
@model Dotel2.Pages.AdminModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <!-- Add other headers as needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>